@import "fonts";

body {
   margin: 0;
   padding: 0;
   font-family: 'Montserrat', sans-serif;
   -webkit-tap-highlight-color: transparent;
   background-color: #F5F7FA;
   color: #212529;
}

main {
   margin: 48px 0 86px;
}

@mixin centering {
   justify-content: center;
   align-items: center;
   display: flex;
}

.loading {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.wrapper {
   max-width: 1170px;
   margin: 0 auto;
   padding: 26px;
}

.flex {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.flex-wrap {
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
}

.j-sb {
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.j-fd {
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: flex-end;
}

.j-se {
   justify-content: space-evenly;
}

.j-center {
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
}

.flex-align-center {
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.flex-align-bottom {
   -webkit-box-align: end;
   -ms-flex-align: end;
   align-items: flex-end;
}

.title {
   font-size: 28px;
   font-weight: 600;
   margin-bottom: 24px;
}

.box {
   box-shadow: 0 2px 64px 0 rgba(53,66,91,0.11);
   padding: 28px;
   border-radius: 20px;
   background: #fff;
}

.list-group-item {
   padding: 12px 0;
}

.profile {
   width: 30%;
   display: flex;
   flex-direction: column;
   align-items: center;

   .profile-img {
      width: 120px;
      height: 120px;
      overflow: hidden;
      border-radius: 50%;
      box-shadow: 0 2px 64px 0 rgba(53,66,91,0.11);
      border: 10px solid #fff;

      img {
         width: 100%;
      }
   }
}

.user-img {
   border: 5px solid #F5F7FA;
}

.gutters-sm {
   margin-right: -8px;
   margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
   padding-right: 8px;
   padding-left: 8px;
}
.mb-3, .my-3 {
   margin-bottom: 1rem!important;
}

.bg-gray-300 {
   background-color: #e2e8f0;
}
.h-100 {
   height: 100%!important;
}
.shadow-none {
   box-shadow: none!important;
}

.search-user-form {
   .search-user-form-label {
      @include centering;
      border-radius: .25rem 0 0 .25rem;
      background-color: #e9ecef;
      border: 1px solid #ced4da;
      min-width: 42px;
      height: 42px;
      margin: 0;
   }

   .search-user-form-input {
      border: 1px solid #ced4da;
      border-right: none;
      border-left: none;
      padding: 0 16px;
      color: #212529;
      outline: none;
      height: 42px;
      width: 100%;
   }

   .search-user-form-button {
      border-radius: 0 .25rem .25rem 0;
      background-color: #007bff;
      transition: all 0.2s;
      padding: 0;
      font-size: 14px;
      height: 42px;
      outline: none;
      color: #fff;
      border: none;

      &:enabled {
         &:hover {
            background-color: #0069d9;
         }
      }

      &:disabled {
         opacity: 0.3;
         cursor: not-allowed;
      }

      .search-user-form-link {
         @include centering;
         padding: 0 24px;
         color: #fff;
         width: 100%;
         height: 100%;

         &:hover {
            text-decoration: none;
         }
      }
   }
}

.gallery {
   .gallery-item {
      width: 96px;
      margin-right: 12px;

      &:last-child {
         margin-right: 0;
      }

      .gallery-item__img {
         box-shadow: 0 8px 32px -16px rgba(53,66,91,0.2);
         margin-bottom: 8px;
         border-radius: 8px;
         position: relative;
         overflow: hidden;
         min-width: 96px;
         height: 96px;
         width: 96px;

         img {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
         }
      }

      .gallery-item__icon {
         display: flex;
         flex-wrap: wrap;
         align-items: center;

         .gallery-item-icon__item {
            display: flex;
            align-items: center;
            margin-right: 8px;
            margin-bottom: 4px;
            color: #72809D;

            span {
               font-size: 10px;
               font-weight: 500;
            }

            svg {
               fill: #72809D;
               width: 16px;
               margin-right: 0.2rem;
               vertical-align: middle;
            }
         }
      }
   }
}

.audition {
   .audition-section {
      margin-bottom: 42px;
      
      .audition-item {
         width: 350px;
         display: flex;
         flex-direction: column;
         justify-content: space-between;

         .audition-item__info {
            margin-top: 20px;

            .audition-item-info__icon {
               @include centering;
               background-color: #007BFF;
               border-radius: 50%;
               margin-right: 12px;
               min-width: 54px;
               color: #fff;
               height: 54px;
            }
         }
      }

      .audition-chart-item {
         width: 48%;
      }

      .comment-text {
         width: 60%;
         font-size: 18px;
         line-height: 1.6;
      }

      .comment-rating {
         width: 40%;
         display: flex;
         flex-direction: column;
         justify-content: center;

         p {
            font-size: 14px;
            margin: 0 12px 0;
         }

         .comment-rating-box {
            display: flex;
            padding: 4px 0;
            align-items: center;
            justify-content: flex-end;

            .comment-rating__line {
               width: 200px;
            }
         }
      }
   }
}